<%= simple_form_for @csr do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :hostname %>
    <%= f.input :country, iso_codes: true ,:collection => [['Japan', :JP]],:selected => [:JP]%>
    <%= f.input :dn_st %>
    <%= f.input :dn_l %>
    <%= f.input :dn_o %>
    <%= f.input :dn_ou %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
