</br>
</br>
<h3>自局認証局の情報を入力してください</h3>
<br/>
<font color="red">すべて半角英数字で入力してください。</font>
<br/>
<%= simple_form_for @ca do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :hostname %>
    <%= f.input :country, iso_codes: true ,:collection => [['Japan', :JP]],:selected => [:JP]%>
    <%= f.input :dn_st %>
    <%= f.input :dn_l %>
    <%= f.input :dn_o %>
    <%= f.input :dn_ou %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>



